body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container-home{
margin-right: 100px;
margin-left: 100px;
padding: 10px;
}

.submit{
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 120px;

}
.navLink{
margin-right: 30px;
}
.admin{
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 373px;
  
}

.container-about{
  background-image: url("/home/lab-user/Desktop/BAMS/BankAccountManagementSystem/Bank_Account_Management_System/bank_account_management_system/src/bank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
background-position: center;
  opacity: 0.5;
  background-attachment: fixed;
}

.client{
  background-color: rgba(86, 162, 233, 0.951);/* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 375px;

}
.content{
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: black;
  color:black;
  opacity: 2;
  background-color: white;
}

.right{
  color: lightgrey;
  margin-left: 990px;
}